* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: -apple-system-font, "HelveticaNueue", Helvetica, Arial, sans-serif;
  background-color: #e4e4e4;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.app {
  background-color: #fff;
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 88px;
  background-color: #e4e4e4;
  border-bottom: 1px solid #666;
  overflow: hidden;
}

.nav .title {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  line-height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav .btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 44px;
  height: 44px;
  padding: 0 10px;
  color: #666;
}

.nav .btn.disabled {
  color: #aaa;
}

.nav .btn:not(.disabled):active {
  color: #999;
}

.nav .right {
  position: absolute;
  right: 0;
  top: 0;
}

.nav .center {
  position: absolute;
  left: 80px;
  right: 80px;
  text-align: center;
  line-height: 44px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav .left {
  position: absolute;
  left: 0;
  top: 0;
}

.nav .btn.right {
  /*border-left: 1px solid #aaa;*/
}

.nav .btn.left {
  /*border-right: 1px solid #aaa;*/
}

.btn a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.main {
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
